@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #f2f2f2;
  /* background: linear-gradient(-135deg, #c850c0, #4158d0); */
}
::selection{
  background: #4158d0;
  color: #fff;
}
.wrapper{
  width: 380px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.wrapper form{
  padding: 10px 30px 50px 30px;
}
.wrapper form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
  border-color: #4158d0;
}
.wrapper form .field label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
form .field input:focus ~ label,
form .field input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content .checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
form .content input{
  width: 15px;
  height: 15px;
  background: red;
}
form .content label{
  color: #262626;
  user-select: none;
  padding-left: 5px;
}
form .content .pass-link{
  color: "";
}
form .field input[type="submit"]{
  color: #fff;
  border: none;
  padding-left: 0;
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
}
form .field input[type="submit"]:active{
  transform: scale(0.95);
}
form .signup-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}
form .pass-link a,
form .signup-link a{
  color: #4158d0;
  text-decoration: none;
}
form .pass-link a:hover,
form .signup-link a:hover{
  text-decoration: underline;
}




body {
    font-family: "Lato", sans-serif;
    margin: 0px;
  }
  
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .nav-wrapper {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }

  .logo {
    width: 50%;
    margin-right: 60px;
  }
  
  .brought-by {
    text-align: center;  

  }
  
  .brand {
    align-items: right;
    justify-content: space-between;
  }

  .hero-wrapper {
    height: 620px;
  }

  .hero-img-wrapper {
    position: relative;
  }
  
  .hero-img-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 620px;
    width: 100%;
  }

  .hero-button{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 575px;
    padding-right: 575px;
    color: white;
    font-size: 60px;
  }

  .button{
    white-space: nowrap;
    text-align: center;
    border-radius: 12.5px;
    background-color: #e71818;
    border: none;
    color: white;
    padding: 15px 32px;;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 36px;
  }

  .button2{
    white-space: nowrap;
    text-align: center;
    border-radius: 12.5px;
    background-color: #e71818;
    border: none;
    color: white;
    padding: 15px 32px;;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 22px;
  }

  .hero-text {
    white-space: nowrap;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 450px;
    left: 9%;
    bottom: 1%;
  }

  .body-wrapper {
    height: 920px;
    background-color: rgb(245, 245, 245);
  }

  .body-header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding: 36px;
    font-size: 32px;  
    color: #BD1C23;
  }

  .body-blocks {
    padding: 16px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;  
  }

  .body-block {
    background-color: #C4C4C4;
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding: 36px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .body-block-other {
    background-color: #D7D7D7;
    display: grid;
    grid-template-columns: 1fr 8fr;
    padding: 36px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }

  .body-block-text {
    margin-left: 600 px;
  }
  
  .awards-wrapper {
    height: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: rgb(255, 255, 255);
  
  }

  .awards{
    padding: 36px;
    margin-left: 40px;
  }

  .award{
    margin-left: 80px;
  }

  .testimonials-wrapper {
    height: 560px;
    background-color: #4D4D4D;
  }

  .testimonials-text {
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    font-size: 32px;
    margin-top: 140px;
    margin-left: 160px;
    margin-right: 160px;
  }

  .testimonials-wrapper-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: white;
    font-size: 32px;
    padding: 30px;
    margin-left: 160px;
    margin-right: 160px;
    justify-content: space-between;
  }

  .testimonials-wrapper-name{
    font-size: 24px;
  }

  .action-wrapper{
    height: 700px;
  }

  .action-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    padding: 36px;
    margin: 30px;
    font-size: 40px; 
    font-weight: bold; 
    color: #000000;
  }

  .action-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 24px;
    justify-content: space-between;
  }

  .action-bullet-points{
    margin-top: 50px;
    font-size: 18px;
    margin-left: 18px;
  }
    
  .action-wrapper-left{
    top: 0;
    margin-left: 100px;
    margin-right: 60px;
    margin-bottom: 25px;
  }

  .action-button{
    margin-top: 90px;
    margin-left: 250px;
    margin-right: 235px;
  }

  .footer-wrapper {
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    background-color: #787474;
    padding: 24px;
    color: white;
  }

  .footer-text {
    text-align: center;  
  }


  
  .popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
   
  .popup .content {
    border-radius: 12.5px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:rgb(245, 245, 245);
    width:500px;
    height:425px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
  }
   
  .popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
  }
   
  .popup.active .overlay {
    display:block;
  }
   
  .popup.active .content {position: fixed;
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
  }

  .content {
    font-size: 12.5px;
    margin-top: 15px;
  }





body {font-family: Arial, Helvetica, sans-serif;}


input[type=text], input[type=email], select {
  font-size:16px;
  padding: 12px 20px;
  padding-right: 235px;
  margin: 8px 0;
  margin-right: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 20%;
  border-radius: 50%;
}



span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}